*.pyc
*.egg-info
*.tt
*.pgc
out-*
compmake_storage
.noseids
.compmake_history.txt
aer_events_show.png
*.mp4
*.tracks.txt
*.timestamps
m6.i02p3d5.tracks-resplot.frame.png
m6.i02p3d5.tracks-resplot.mp4.timestamps
upanddown_3.i02p3d5.tracks-resplot.frame.png
upanddown_3.i02p3d5.tracks-resplot.mp4-active.avi
upanddown_3.i02p3d5.tracks-resplot.mp4.timestamps
*.tracks
*.tracks*png
data
data1
data2
data3
*.aedat
*-active.avi
DAVIS-150606
